.login-form {
  max-width: 345px;
  margin: 0 auto;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.sign-in-card {
  text-align: center;
  font-size: 27px;
  width: 460px;
  margin: 0 auto;
}

.sign-in-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 465px;
}

